<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>SF-Compact-Display-Heavy.otf</string>
		<string>SF-Compact-Text-LightItalic.otf</string>
		<string>SF-Compact-Text-Medium.otf</string>
		<string>SF-Compact-Text-MediumItalic.otf</string>
		<string>SF-Compact-Text-Regular.otf</string>
		<string>SF-Compact-Text-Semibold.otf</string>
		<string>SF-UI-Display-Black.otf</string>
		<string>SF-UI-Display-Bold.otf</string>
		<string>SF-UI-Display-Light.otf</string>
		<string>SF-UI-Display-Regular.otf</string>
		<string>SF-UI-Display-Ultralight.otf</string>
		<string>SF-UI-Text-MediumItalic.otf</string>
		<string>SF-UI-Text-Regular.otf</string>
		<string>SF-UI-Text-RegularItalic.otf</string>
		<string>SF-UI-Text-SemiboldItalic.otf</string>
		<string>SF-Mono-Bold.otf</string>
		<string>SF-Mono-BoldItalic.otf</string>
		<string>SF-Mono-Heavy.otf</string>
		<string>SF-Mono-HeavyItalic.otf</string>
		<string>SF-Mono-Light.otf</string>
		<string>SF-Mono-LightItalic.otf</string>
		<string>SF-Mono-Medium.otf</string>
		<string>SF-Mono-MediumItalic.otf</string>
		<string>SF-Mono-Regular.otf</string>
		<string>SF-Mono-RegularItalic.otf</string>
		<string>SF-Mono-Semibold.otf</string>
		<string>SF-Mono-SemiboldItalic.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
</dict>
</plist>
